footer {
    background-color: #f8f8f8;
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 24px 8%;
    align-items: center;
}

#copyright {
    color: #777777;
    font-size: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}