header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #f7edf3;
    z-index: 3;
}

#navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ff6f91;
}
#nav_logo i {
    font-size: 2rem;
}

#nav_logo span {
    letter-spacing: 0.12rem;
    text-transform: uppercase;

#nav_logo {
    font-size: 24px;
    color: #ff6f91;
}

#nav_list {
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}

.nav-item.active a {
    color: #ff6f91;
    border-bottom: 3px solid #ff6f91;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media  screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

}

@media screen and (max-width: 600px) {
    header {
        padding: 16px 16px;
    }

    #nav_logo {
        font-size: 1.1em;
        gap: 6px;
    }

    #nav_logo i {
        font-size: 1.5rem;
    }
}
