header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #f7edf3;
    z-index: 3;
}

#navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ff6f91;
}
#nav_logo i {
    font-size: 2rem;
}

#nav_logo span {
    letter-spacing: 0.12rem;
    text-transform: uppercase;
}

#nav_list {
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}

.nav-item.active a {
    color: #ff6f91;
    border-bottom: 3px solid #ff6f91;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media  screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 999px;
        border: none;
        background-color: #ff6f91;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 16px 0 20px;
        background-color: #f7edf3;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list a {
        text-decoration: none;
        color: #333333;
        font-weight: 600;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

    #mobile_nav_list .nav-item a:hover {
        color: #ff6f91;
    }

    #mobile_menu .btn-default {
        width: 80%;
        max-width: 260px;
    }
}

@media screen and (max-width: 600px) {
     header {
        padding: 16px 16px;
    }

    #nav_logo {
        font-size: 1.1em;
        gap: 6px;
    }

    #nav_logo i {
        font-size: 1.5rem;
    }
}
